{% extends 'base.html.twig' %}
{% set title = 'Działania' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Typ</th>
                <th>Plan</th>
                <th>Wykorzystanie</th>
                <th>Zaangażowanie</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
